@font-face {
  font-family: Bebas;
  src: url("fonts/BebasNeue.otf") format("opentype"); }

@font-face {
  font-family: LeagueGothic;
  src: url("fonts/LeagueGothic-Regular.otf") format("opentype"); }

@font-face {
  font-family: OstrichBold;
  src: url("fonts/ostrich-sans-master/OstrichSans-Bold.otf") format("opentype"); }

@font-face {
  font-family: OstrichLight;
  src: url("fonts/ostrich-sans-master/OstrichSans-Light.otf") format("opentype"); }

.html {
  padding: 0 !important;
  margin: 0 !important; }

.body {
  padding: 0 !important;
  margin: 0 !important; }

.container-fluid {
  padding: 0 !important; }

.landing-header {
  width: 100%;
  margin: 0; }
  .landing-header #grapher-canvas {
    background-color: white; }
  .landing-header .title-container {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
    .landing-header .title-container h1 {
      color: white;
      font-weight: 900;
      font-size: 12em;
      font-family: Bebas;
      margin-bottom: 0 !important; }
    .landing-header .title-container p {
      margin-top: 0 !important;
      color: white;
      font-size: 2.2em;
      font-weight: 800; }

.landing-row {
  padding: 0 !important; }
