
@font-face{
  font-family: OstrichBold;
  src: url('fonts/ostrich-sans-master/OstrichSans-Bold.otf') format("opentype");
}

@font-face{
  font-family: OstrichLight;
  src: url('fonts/ostrich-sans-master/OstrichSans-Light.otf') format("opentype");
}


@font-face{
  font-family: OstrichRoundedMedium;
  src: url('fonts/ostrich-sans-master/OstrichSansRounded-Medium.otf') format("opentype");
}


@font-face{
  font-family: Bebas;
  src: url('fonts/BebasNeue.otf') format("opentype");
}



.section{
  width: 100%;
  text-align:center;
  background-color: #444;
  height: 350px;
  margin-bottom: 150px;

  .work-swag {
    background-image: -webkit-linear-gradient(transparent, transparent),
                      url('cpachomski.github.io/imgs/play.jpg');
    background-size: cover ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 200px;
    font-weight: 200;
    text-align:left;
    font-family: Bebas;
    padding-left: 50px;
  }
  .play-swag {
    background-image: -webkit-linear-gradient(transparent, transparent),
                      url('imgs/work.jpg') ;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 200px;
    font-weight: 800;
    text-align:right;
    font-family: Bebas;
    padding-right: 100px;
  }
  .content{
    min-height: 100px;
  }
}


#play{
  margin-top: 500px;
  padding-bottom: 25px;
}






.grid-container{
  margin: 50px auto 120px;
  max-width: 1000px;
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;

    svg{
      top: -1px;
      path{
        fill: #555;
        transition: fill 0.3s ease-in;
      }
    }


    a{
      float: left;
      max-width: 250px;
      width: 23%;
      color: #333;

      &:hover{
        .title{
          h2{
            color: #555;

          }
          h2, p{
            transform: translateY(-3px);
          }
          p{
            opacity: 0;

          }
        }
        figure img{
            opacity: 1;
        }
        figure button{
          opacity: 1;
          transform: translateY(-50%) translateX(-50%) scale(1);
        }

        svg{
          border-bottom: none;
          border-right: none;
          path{
            fill: #555;
          }

        }
      }
    }
    figure{
      position: relative;
      overflow:hidden;
      margin: 5px;
      background: #FFF;

      button{
        top: 50%;
        left: 50%;

        background:transparent;
        color:#555;
        opacity: 0;
        transform: translateY(-50%) translateX(-50%) scale(0.25);
      }
       button.construction{
          background-color:yellow !important;
        }
    }
    .title{
      position: absolute;
      top: 0;
      z-index: 0;
      padding: 10px;
      width: 100%;
      height: 100%;
      text-align: center;
        h2{
          font-family: Bebas;
          margin-top: 0;
          margin-bottom: 0;
          color: white;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 300;
          font-size: 200%;
          transition: all 0.2s;

        }
        p{
          font-family: OstrichLight;

          padding: 0 0px;
          margin-top: 0px;
          color: #aaa;
          font-size: 25px;
          letter-spacing: 1px;
          font-weight: 800;
          transition: opacity 0.2s, transform 0.2s;

        }
        h2, p, button{
          transform: translateY(30px);
          backface-visibility: hidden;
        }
        button{

          position: absolute;
          padding: 4px 20px;
          border: 2px solid #555;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: bold;

          transition: opacity 0.2s, transform 0.2s;
        }


    }
}

@media screen and (max-width: 62em){
  .grid-container a {
    width: 50%;
  }
}

@media screen and (max-width: 45em){
  .grid-container{
    max-width: 500px;
    a{
      width: 50%;
    }
    .title{
      h2{
        margin-bottom: 0px;
        transform: translateY(20px);
      }
      p{
        margin: 0;
        padding: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 27em){
  .grid-container{
    max-width: 250px;
    a {
      width: 100%;
    }
  }


}



.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
